<div id="wrapper">
  <div id="form-container">

    
    <form 
      [formGroup]="loginForm" 
      ngNativeValidate 
      (submit)="onSubmit(loginForm.value)"
    >
    
      <h3>Login</h3>

      <label for="email">Email</label>
      <input formControlName="email" type="email" id="email"/>

      <label for="password">Password</label>
      <input formControlName="password" type="password" id="password"/>

      <br>
      <button type="submit">Submit</button>

      <br>
      <button routerLink="/register">
        Register
      </button>
    </form>
  </div>
</div>