<div id="wrapper">
  <div id="form-container">

    <form 
      [formGroup]="loginForm" 
      ngNativeValidate 
      (submit)="onSubmit(loginForm.value)"
    >
    
      <h3>Login</h3>

      <label for="email">Email</label>
      <input class="form-control input" formControlName="email" type="email" id="email"/>

      <label for="password">Password</label>
      <input class="form-control input" formControlName="password" type="password" id="password"/>

      <br>
      <button id="submit" class="btn" type="submit">Submit</button>

      <br>
      <button id="register" class="btn" routerLink="/register">
        Register
      </button>
    </form>
  </div>
</div>