<div>
  <h3>Home</h3>

  <button (click)="loadAddTodo()">+ Add</button>
  <button (click)="logout()">Logout</button>

  <div id="card-container">
    <div 
      class="card"
      *ngFor="let todo of todoList; index as i" 
      (click)="editTodo(todo)"
    >
      <div>
        <div class="title">
          {{ todo.date }}
        </div>

        <div class="content">
          {{ todo.todo }}
        </div>
      </div>

    </div>
  </div>

  <div 
    class="input-container"
    *ngIf="showEditTodo"  
  >
    <div class="card input">
      <label for="date">Date</label>
      <input type="date"  [(ngModel)]="todoDate" id="date"/> 

      <label for="text">Description</label>
      <input type="text" [(ngModel)]="todo" id="text"/>
      
      <button (click)="updateTodo()">Update</button>
      <button (click)="deleteTodo()">Delete</button>
      <button (click)="cancelEdit()">Cancel</button>
    </div>
  </div>

  <div 
    class="input-container"
    *ngIf="showAddTodo"  
  >
    <div class="card input">
      <label for="date">Date</label>
      <input type="date"  [(ngModel)]="todoDate" id="date"/> 

      <label for="text">Description</label>
      <input type="text" [(ngModel)]="todo" id="text"/>

      <button (click)="addTodo()">Add</button>
      <button (click)="cancelAdd()">Cancel</button>
    </div>
  </div>

  <h3 *ngIf="showTip">You can add todos by clicking on the add button :))</h3>
</div>