#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

#addBtn{
    background-color: #4D96F0;
}

h3{
    text-align: center;
    margin-bottom: 10px;
}

.card {
    background-color: #FAE377;
    border-radius: 5px;
    min-width: 200px;
    max-width: 200px;
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0px 1px 3px darkgrey;
    transition: 0.2s;
}

.card-input {
    border-radius: 5px;
    min-width: 500px;
    max-width: 500px;
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0px 1px 3px darkgrey;
    transition: 0.2s;
    z-index: 1;
}

.add{
    background-color: #3BD95E;
}
.update{
    background-color: #4D96F0;
}

.delete{
    background-color: #FF5850;
}

label{
    margin-left: 5px;
}

.title,
.content {
    padding: 16px;
    text-transform: capitalize;
    text-align: center;
}

.title .content {
    border-bottom: 1px solid silver;
}

.title {
    font-size: 1.25em;
}

.card:hover {
    transition: 0.2s;
    box-shadow: 0px 1px 9px darkgrey;
}

.input-container {
    width: 100wh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input {
    width: 50em;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.input input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
    border-radius: 5px;
    border: solid;
    border-width: thin;
    border-color: gray;
}

.input button {
    margin-bottom: 0.3em;
}
